body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3f2a77;
}

button, output, div {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

button {
    padding: 5px;
}


#instructions {
    display: flex;
    flex-direction: row;
    width: 800px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(203, 156, 248);
}

#canvas {
    width: 800px;
    height: 800px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    gap: 0px;
}

#canvas div {
    background-color: white;
    margin: 0px;
}